* {
  font-family: 'Eurostile', sans-serif;
  
}

body {
    margin: 0;
    height: 100%;
}
html {
  height: 100%;
}
.gamecontainer {
   
    height: 100%;
    width: 100%;
    background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.titlescreen {
  background-image: url(images/titlecard.png);
}

.gamescreen {
  background-image: url(images/ingamebg.png);
}


.img {
  height: 140px;
  width: 200px;
  position: absolute;
}

.boxcontainer{
  height: 650px;
  width: 1500px;
  display: flex;
  
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 20px;
  justify-content: center;
  border: red solid 2px;
}

.numbercontainer {
  height: 650px;
  width: 1600px;
  margin-top: -702px;
  margin-left: -40px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  
}

.number {
  font-size: 80px;
  color: white;
  height: 100px;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 28px;
 

}
.link {
  
}
.box {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box2 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box3 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}.box4 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box5 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box6 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box7 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box8 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}.box9 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box10 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box11 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box12 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box13 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box14 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}.box15 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box16 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box17 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box18 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box19 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box20 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box21 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box22 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box23 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}
.box24 {
  color: white;
  font-size: 20px;
  height: 140px;
  width: 200px;
  display: flex;
  border: red 2px solid;
}