* {
  font-family: 'Eurostile', sans-serif;
  
}

body {
    margin: 0;
    height: 100%;
}
html {
  height: 100%;
}
.gamecontainer {
    height: 100%;
    width: 100%;
    background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  
  
}
.titlescreen {
  background-image: url(images/titlecard.png);
}

.gamescreen {
  background-image: url(images/ingamebg.png);
}


.img {
  height: 140px;
  width: 200px;
  position: absolute;
}

.boxcontainer{
  height: 520px;
  width: 1525px;
  display: flex;
  flex-direction: row;
  
}

.boxesrightside {
  height: 500px;
  width: 700px;
  border: red 2px solid;
  display: flex;
  flex-wrap: wrap;
}
.boxesleftside {
  height: 500px;
  width: 700px;
  border: red 2px solid;
  display: flex;
  flex-wrap: wrap;
}
.dealornodealconatiner {
  height: 500px;
  width: 500px;
  border: red 2px solid;
}

.amountandboxcontainer {
  height: 200px;
  width: 1500px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  
}
.amountholder {
  height: 250px;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  margin-left: -20px;
}
.boxholder {
  height: 300px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yourbox {
  height: 50px;
  width: 150px;
  border: #1b3e82 2px solid;
  color: white;
  font-size: 40px;
  text-align: center;
}
.amountbox1 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox2 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox3 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox4 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox5 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox6 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox7 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox8 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox9 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox10 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox11 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox12 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox13 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox14 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox15 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox16 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox17 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox18 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox19 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox20 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox21 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox22 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}
.amountbox23 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  
} 
.amountbox24 {
  height: 50px;
  width: 150px;
  background-color: #1b3e82  ;
  border: #2460ae 4px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  
}

.numbercontainer {
  height: 650px;
  width: 1600px;
  margin-top: -702px;
  margin-left: -40px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
 

  
}

.number {
  font-size: 80px;
  color: white;
  height: 100px;
  width: 200px;
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 28px;
 

}
.link {
  
}
.box {
  color: white;
  font-size: 60px;
  
  height: 86px;
  width: 185px;
  display: flex;

  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}

.boxtext {
  position: absolute;
  bottom: 8px;
  left: 16px
}
.box2 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
  
}
.box3 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}.box4 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box5 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box6 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box7 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box8 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}.box9 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box10 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box11 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box12 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;

  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box13 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box14 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}.box15 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box16 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box17 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box18 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box19 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box20 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box21 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
 
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box22 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box23 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}
.box24 {
  color: white;
  font-size: 60px;
  height: 86px;
  width: 185px;
  display: flex;
  
  justify-content: center;
  align-items: center;
  background-image: url("images/boxoutsideempty.png");
  background-size: 178px;
  background-repeat: no-repeat;
  background-position: center;
}